{% extends "base.html" %}


{% block styles %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'templates/pop-stock/style.css' %}">
{% endblock %}


{% block content %}
	{% load static %}

	<script>
      const CSRF_TOKEN = "{{ csrf_token }}"
	</script>

	<div id="main-container" class="container">
		{% csrf_token %}

		<div class="form-group">
			<label for="search">Search:</label>
			<input type="text" id="search-input" name="search" class="form-control"
				   placeholder="Search for products...">
		</div>

		<div class="form-group">
			<label for="items">Items:</label>
			<select id="items" name="items">
				<option value="">Select an item</option>
				{% for product in products %}
					<option class="product-item" value="{{ product.bar_code }}">{{ product.name }}
						[{{ product.volume }}]
						({{ product.bar_code }})
					</option>
				{% endfor %}
			</select>
		</div>

		<button type="button" id="scan-button" class="btn btn-primary"
				onclick="location.href='{% url 'scanner-poc' %}?return_url={{ request.path }}';">Scan
		</button>

		<div class="supplies-table-wrapper">
			<table id="supplies-table" class="supplies-table">
				<colgroup>
					<col class="col-id">
					<col class="col-prod-name">
					<col class="col-amount">
					<col class="col-exp-date">
					<col class="col-select-checkbox">
				</colgroup>
				<thead>
				<tr class="supp-table-row">
					<th class="table-cell">Id</th>
					<th class="table-cell">Product name</th>
					<th class="table-cell">Pcs</th>
					<th class="table-cell">Exp. date</th>
					<th class="table-cell"></th>
				</tr>
				</thead>
				<tbody id="supplies-table-tbody">

				<tr class="supp-table-row" style="display: none">
					<td class="table-cell">1</td>
					<td class="table-cell">Test prod name</td>
					<td class="table-cell">5</td>
					<td class="table-cell">01.01.9999</td>
					<td class="table-cell supp-select-checkbox">
						<input type="radio"/>
					</td>
				</tr>

				</tbody>
			</table>
		</div>
		<div class="horizontal-group">
			<button id="btn-decr" class="incr-decr-btn">-</button>
			<input type="number" id="pop-amount-input" value="0.5">
			<button id="btn-incr" class="incr-decr-btn">+</button>
			<button type="button" id="button-add" class="btn-success">Pop</button>
		</div>
	</div>

	<script type="module" src="{% static 'templates/pop-stock/script.js' %}"></script>
{% endblock %}