* {
    all: unset;
    display: revert;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="radio" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0 5px;
    padding: initial;
    border: initial;
}

/* Base core components styles */
input, textarea, select, button {
    background-color: white;
    border-radius: 5px;
}

button {
    text-align: center;
}


body {
    background-color: rgb(38, 36, 38);
    margin: 0;
}

/* Top bar + content + footer styles */
#top-bar, #footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 5vh;
}

#content {
    height: 90vh;
}

#top-bar button {
    height: 4vh;
    margin: 0.5vh 0.5vh;
    width: 10vh;
    font-size: 2vh;
    border-radius: 1vh;
    background-color: lightgray;
    padding: 0;
}