<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Camera Stream</title>
</head>
<body>
<div style="width: 100%; display: flex; flex-direction: column; align-items: center">
	<h1>Scanner poc</h1>
	<div style="flex-direction: row; justify-content: center">
		<button id="camera-auto-button" style="height: 50px; width: 150px">Auto camera</button>
		<button id="camera-change-button" style="height: 50px; width: 150px">Force next camera</button>
	</div>
	<p id="result-log" style="height: 30px">Here will be result</p>
	<video id="video" width="440" height="330" class="video-background" autoplay loop muted playsinline></video>
	<button id="scan-button" style="height: 70px; width: 250px; margin-top: 20px">Scan</button>
</div>
<canvas id="canvas" style="display: none"></canvas>


<script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
{% include 'scanner/scanner_poc_js.html' %}

</body>
</html>
