{% extends "base.html" %}

{% block title %}
	Camera Stream
{% endblock %}

{% block styles %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'templates/scanner/style.css' %}">
{% endblock %}

{% block content %}
	{% load static %}

	<div style="width: 100%; display: flex; flex-direction: column; align-items: center">
		<h1>Scanner poc</h1>
		<div style="flex-direction: row; justify-content: center">
			<button id="camera-auto-button">Auto camera</button>
			<button id="camera-change-button">Force next camera</button>
		</div>
		<p id="result-log" style="height: 30px">Here will be result</p>
		<video id="video" width="440" height="330" class="video-background" autoplay loop muted playsinline></video>
		<button id="scan-button" style="height: 70px; width: 250px; margin-top: 20px">Scan</button>
	</div>
	<canvas id="canvas" style="display: none"></canvas>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
	<script src="{% static 'templates/scanner/script.js' %}"></script>

{% endblock %}
