{% block styles %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'templates/demand/style.css' %}">
{% endblock %}


{% block content %}
	{% load static %}

	<div class="scroll-container">
		{% for item in demand %}
			<div class="item">
				<h3>{{ item.name }}</h3>
				<p><strong>Stock:</strong> {{ item.count_in_stock }} / <strong>Expected:</strong> {{ item.min_amount }}
				</p>
				<p class="missing">Missing: {{ item.missing_count }}</p>

				{% if item.products %}
					<p><strong>Products:</strong></p>
					<ul class="products">
						{% for product in item.products %}
							<li>
								{{ product.name }} ({{ product.volume }})<br>
								<small>Barcode: {{ product.bar_code }}</small>
							</li>
						{% endfor %}
					</ul>
				{% else %}
					<p><em>No products listed</em></p>
				{% endif %}
			</div>
		{% endfor %}
	</div>



{% endblock %}