<!DOCTYPE html>
<html lang="en">
<head>
{#	<style>#}
{#        * {#}
{#            all: unset;#}
{#            display: revert;#}
{#        }#}
{#	</style>#}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}My Site{% endblock %}</title>

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">

	<style></style>
	{% block styles %}{% endblock %}

</head>
<body>
<div id="top-bar">
	{% block top-bar %}
		<a href="{% url 'dispatch' %}">
			<button>Home</button>
		</a>
		<a href="{% url 'stock-list' %}">
			<button>Stock</button>
		</a>
		<a href="{% url 'admin:index' %}">
			<button>Admin</button>
		</a>
	{% endblock %}
</div>
<div id="content">
	{% block content %}{% endblock %}
</div>
<div id="footer">
	{% block footer %}

	{% endblock %}
</div>
</body>
</html>
