{% extends "base.html" %}

{% block title %}
	Dispatch
{% endblock %}

{% block styles %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'templates/dispatch/style.css' %}">
{% endblock %}


{% block content %}

	<div
		style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center">
		<a href="{% url 'stock-add' %}">
			<button class="button-1">Add</button>
		</a>
		<a href="{% url 'stock-pop' %}">
			<button class="button-2">Pop</button>
		</a>
		<a href="{% url 'stock-list' %}">
			<button class="button-3">View stock</button>
		</a>
	</div>


{% endblock %}
