<script>
  document.addEventListener("DOMContentLoaded", () => {
    handlePageLoaded();
  });
  const mainForm = document.getElementById("main-form")
  let productExists = false
  let productId = 0


  async function handleProductResponse(bar_code, response) {
    mainForm.elements["bar_code"].value = bar_code;

    productExists = (response.status === 200)

    if (!productExists) {
      return true
    }

    const responseData = await response.json()
    mainForm.elements["prod_name"].value = responseData.name
    mainForm.elements["volume"].value = responseData.volume
    mainForm.elements["description"].value = responseData.description
    mainForm.elements["bar_code"].readOnly = true
    productId = responseData.id
    console.log(`Product exists with id ${productId}`)

    return true
  }

  function handlePageLoaded() {
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const bar_code = urlParams.get('bar_code')
    if (bar_code === null) return;

    fetch(`/api/supplies/product/${bar_code}/`)
      .then(response => {
        handleProductResponse(bar_code, response)
      })
      .catch(error => console.error('Error fetching items:', error));
  }

  async function createProduct() {
    let payload = {
      name: mainForm.elements["prod_name"].value,
      bar_code: mainForm.elements["bar_code"].value,
      description: mainForm.elements["prod_name"].value,
      volume: mainForm.elements["volume"].value,
    }
    let response = await fetch("/api/supplies/product/", {
      method: "POST",
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}'
      },
      body: JSON.stringify(payload)
    })

    if (response.status !== 201) {
      // todo raise prod not created for some reason
      return
    }
    let responseData = await response.json()

    productId = responseData.id
    console.log(`Product created with id ${productId}`)

    return productId
  }

  async function handleAdd() {
    if (!mainForm.checkValidity()) return;
    if (!productExists) {
      await createProduct()
    }
    if (productId === 0) {
      // todo handle missing id error
      return false
    }

    let payload = {
      amount: mainForm.elements["amount"].value,
      expiration_date: mainForm.elements["exp_date"].value,
      product: productId,
    }
    let response = await fetch("/api/supplies/supply/", {
      method: "POST",
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}'
      },
      body: JSON.stringify(payload)
    })

    if (response.status !== 201) {
      // todo raise supply not created for some reason
      return
    }
    let responseData = await response.json()
    console.log(`Supply created with id ${responseData.id}`)

    // todo handle supply created message
    // todo clear form, clear url (?)
  }

</script>
