@import url("../../common/style.css");

label {
    color: lightgray;
    font-size: 2.25vh;
    padding: 5px;
}

input, textarea, select {
    padding: 10px;
    width: 65vw;
    font-size: 1.75vh;
}

button {
    padding: 5px;
    width: 30vw;
    height: 10vw;
}

textarea {
    height: 4vh;
}

.container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.horizontal-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-success {
    margin: 10px;
    width: 45vw;
    height: 15vw;
}

#amount {
    width: 20vw;
}

#exp_date {
    width: 40vw;
    height: 2vh;
}

#bar_code {
    width: 30vw;
}

#volume {
    width: 30vw;
}

.form-control:invalid {
    border: 2px dashed red;
}

.form-control:valid {
    border: 2px solid black;
}
